body {
  color: #247BA0;
}
h1 {
  font-family: impact;
  text-align: center;
  font-size: 62px;
  color: #247BA0;
}
h4 {
  text-align: center;
  font-weight: bold;
}
p {
  font-family: georgia;
  color: black;
}
