body {
  color: #247BA0;
  padding: 5;
  padding-top:80px;
}

h1 {
  font-family: impact;
  text-align: center;
  font-size: 62px;
  color: #247BA0;
}

h1:hover {
font-size: 5em;
transition: 0.3s ease;
}

h4 {
  text-align: center;
  font-weight: bold;
}
h3 {
  color: white;
  font-family: georgia;
}

h4:hover {
font-size: 2em;
transition: 0.3s ease;
}

p {
  color: black;
}

div.media{
  margin: 0 auto;
  color: #70C1B3;
}

div.media:hover {
font-size: 2em;
transition: 0.3s ease;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1
}
div.contrast {
  margin-top: 50;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
