body {
  color: #247BA0;
  padding: 5;
  padding-top:80px;
}

h1 {
  font-family: impact;
  text-align: center;
  font-size: 62px;
  color: #247BA0;
}

h1:hover {
font-size: 5em;
transition: 0.3s ease;
}

h4 {
  text-align: center;
  font-weight: bold;
}
p {
  color: black;
}

div.media{
  margin: 0 auto;
  color: green;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
